# kube-prometheus-stack values  managed by Ansible

#  Grafana 
grafana:
  enabled: true
  adminUser: "{{ grafana_admin_user }}"
  adminPassword: "{{ grafana_admin_password }}"

  service:
    type: NodePort
    nodePort: {{ grafana_nodeport }}

  # Pre-configure Loki as a datasource
  additionalDataSources:
    - name: Loki
      type: loki
      url: http://loki-stack.{{ monitoring_namespace }}.svc.cluster.local:3100
      access: proxy

  # Persist dashboards across restarts
  defaultDashboardsEnabled: true
  defaultDashboardsTimezone: utc

#  Prometheus 
prometheus:
  enabled: true

  service:
    type: NodePort
    nodePort: {{ prometheus_nodeport }}

  prometheusSpec:
    retention: "{{ prometheus_retention }}"

    # Scrape all ServiceMonitors across all namespaces
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

#  Alertmanager 
alertmanager:
  enabled: true

  service:
    type: NodePort
    nodePort: {{ alertmanager_nodeport }}
 


#  Node Exporter  # deploys on every node automatically via DaemonSet
nodeExporter:
  enabled: true
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
    - key: node-role.kubernetes.io/master    # older k8s versions
      operator: Exists
      effect: NoSchedule

  # Fix for AWS — get the PRIVATE IP from the node, not 0.0.0.0
  env:
    - name: HOST_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP   # ← resolves to private IP e.g. 10.0.x.x

 livenessProbe:
    httpGet:
      host: 127.0.0.1     #  use localhost instead of pod IP (public IP on AWS)
      path: /
      port: 9100
      scheme: HTTP
    initialDelaySeconds: 0
    timeoutSeconds: 1
    periodSeconds: 10
    failureThreshold: 3

  readinessProbe:
    httpGet:
      host: 127.0.0.1     #  same fix
      path: /
      port: 9100
      scheme: HTTP
    initialDelaySeconds: 0
    timeoutSeconds: 1
    periodSeconds: 10
    failureThreshold: 3


#  kube-state-metrics 
kubeStateMetrics:
  enabled: true
