[defaults]
#make it read all files in this directory
private_key_file = ../terraform-aws-infrastructure/generated/private_key.pem

inventory = ./inventory/instance.aws.ec2.yaml

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, script, yaml, ini
