[defaults]
#make it read all files in this directory
private_key_file = ../terraform-aws-infrastructure/generated/private_key.pem

inventory = ./inventory/instance.aws_ec2.yaml

host_key_checking = False

interpreter_python = auto_silent

collections_path  = ./collections
allow_world_readable_tmpfiles = true 

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, script, yaml, ini


[connection]
pipelining = true   