# Managed by Ansible - required by the Elasticsearch node embedded in SonarQube
{{ sonarqube_user }}   -   nofile   {{ sonarqube_nofile_limit }}
{{ sonarqube_user }}   -   nproc    {{ sonarqube_nproc_limit }}
